@using Microsoft.AspNetCore.Mvc.ModelBinding 

@model LoginForm

@if (!ViewContext.ModelState.IsValid) { 
<div>
    @Html.ValidationSummary(true,
        "Le formulaire contient " + ViewContext.ModelState.ErrorCount + " erreur(s)",
        new { htmlAttributes = new { @class = "text-danger", style = "border: 1px dashed red" } }
    )

    @*<span style="color:red">
            Le formulaire contient @ViewContext.ModelState.ErrorCount erreur(s)
        </span><br />
        @foreach (KeyValuePair<string, ModelStateEntry> kvp in ViewContext.ModelState)
        {
            if (kvp.Value.Errors.Count() > 0)
            {
                foreach (ModelError modelError in kvp.Value.Errors)
                {
                    <span style="color:red">
                        @kvp.Key : @modelError.ErrorMessage
                    </span><br />
                }
            }
        }*@
</div>
}
@using (Html.BeginForm(@*actionName:"Login",controllerName:"Demo",method:FormMethod.Post*@)) { 
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", style = "border-radius:10px" } })
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
        @*<label for="Email">
            Email :
        </label>
        <input type="email" name="Email" />*@
    </div>
    <div>
        @Html.LabelFor(m => m.Passwd)
        @Html.EditorFor(m => m.Passwd)
        @Html.ValidationMessageFor(m => m.Passwd, null, new { @class = "text-danger" })
        @*<label for="Passwd">
            Password :
        </label>
        <input type="password" name="Passwd" />*@
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>
}